  <main class="px-3">
    <h1>Natalie Hardy Printmaking</h1>
    <p class="lead">Contact</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white">Learn more</a>
    </p>
