<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Natalie Hardy">
    <title>Natalie Hardy Printmaking</title>    

    <!-- Bootstrap core CSS -->
<link href="{{ public_path }}css/bootstrap.min.css" rel="stylesheet">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ public_path }}css/carousel.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-dark bg-light">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">Natalie Hardy Printmaking</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="{{ public_path }}">Home</a>
        <a class="nav-link" href="{{ public_path }}blog">Blog</a>
        <a class="nav-link" href="{{ public_path }}contact">Contact</a>
      </nav>
    </div>
  </header>
  
